@font-face {
    font-family: "extrabolditalic";
    src: url("../assets/fonts/Montserrat-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "fonti";
    src: url("../assets/fonts/Montserrat-Black.ttf");
}
@font-face {
    font-family: "lightitalic";
    src: url("../assets/fonts/Montserrat-ExtraLightItalic.ttf");
}
@font-face {
    font-family: "medium";
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}